body {
    background-color: lightgoldenrodyellow;
}

div.header {
    background-color: navajowhite;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px;
    color: rgb(36, 59, 59);
}

div.input {
    background-color: navajowhite;
    border: 2px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1px;
    color: rgb(38, 63, 63);
}
